<!DOCTYPE HTML>
<html>
	<head>
		<title>v-if If Statements</title>
		<meta charset="UTF-8">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<style>
			img{width: 100%; height: auto;}
			.card {box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition: 0.3s;width: 25%; margin: auto; padding: 20px;}
			.card:hover {box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);}
			p {font-family: sans-serif}
		</style>
	</head>
	<body>
	
	<div id="app" class="card">
		<span v-if="profile">

			<div v-if="profile.pic">
				<img v-bind:src="profile.pic" >
			</div>
			<div v-else>
				<img v-bind:src="profile.avatar">
			</div>

			<div class="container">
				<div v-if="profile.fname && profile.lname">
					<h1> {{profile.fname}} {{profile.lname}} </h1>
				</div>
				<div v-else>
					<h1>Name not found</h1>
				</div>

				<div v-if="profile.desc">
					<h2>{{profile.desc}}</h2>
				</div>
				<div v-else>
					<h2>Desc not found</h2>
				</div>
				<div v-if="profile.bio">
					<p>{{profile.bio}}</p>
				</div>
				<div v-else>
					<p>Bio not available</p>
				</div>
			</div>
		</span>
		<span v-else>
			No Profile Data found.
		</span>
	</div>
	
	<script>
	var app = new Vue({
		el: '#app',
		
		data:{
			profile:{
				fname: "Navpreet",
				lname: "Kaur",
				desc: 'Web Developer',
				bio: 'Navpreet is a full-stack web developer based in Toronto who is currently finishing the Web Development Post-graduate program at Humber College. She has a master’s degree in Information Technology from GNDU, India. She constantly looking for ways to challenge herself and Web Development has given her that creative space to design websites and solve problems. Her goal is to always build products that provide pixel-perfect, performant experiences.',
				pic: 'images/myimage.jpg',
				avatar: 'images/avater.png'
			}
		}
	});
	</script>
	
		<!--
		//step 1: Read Code Above
		//step 2: Does the profile show up?
		
		v-if="boolean_expression"
		v-else-if="boolean_expression"
		v-else
		
		
		You can code an if, else if, else statement into your render using the v-if, v-else-if, v-else.
		Just like in regular programming, v-else has no condition
		
		Notice how the "profile" object is null. Reminder that null is Falsey in the boolean context.
		
		ASYNCHRONOUS LEARNING EXERCISE
		1. Use the profile object to store information about yourself {fname, lname, desc, bio, pic}
		2. Create a figure, figcaption, and image markup which acts as a description for yourself
			(Something like this https://www.w3schools.com/howto/howto_css_cards.asp)
		3. Write conditionals if information is missing (i.e. 'no bio available' if bio is blank, generic image if no pic is found)
		-->
	</body>
</html>